/* Default & Global CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
}

h2 {
  color: #fff;
  font-size: 36px;
}

h3 {
  color: #fff;
  padding-top: 40px;
}

h4 {
  color: #fff;
}

/* Navbar CSS */
.navbar {
  background-color: #333;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ddd;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: transform 0.3s ease;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    padding: 0 10px;
  }

  .menu-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #c7c8cc;
    z-index: 999;
    width: 80vw;
    margin: 0 10vw;
  }

  .navbar-links a:nth-child(1) {
    padding: 10px;
    border-bottom: 1px solid #666;
  }

  .navbar-links a:nth-child(2) {
    padding: 10px;
    border-bottom: 1px solid #666;
  }

  .navbar-links a:nth-child(3) {
    padding: 10px;
    border-bottom: 1px solid #666;
  }

  .navbar-links.show {
    display: flex;
  }

  .change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .change .bar:nth-child(2) {
    opacity: 0;
  }

  .change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

/* Hero Section CSS */
.hero {
  background-color: #333;
  color: #fff;
  font-size: 45px;
  height: 100vh;
  width: 100%;
  padding: 60vw 10px 90px;
}

.hero-text-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

#myName {
  animation: color-change 7s infinite;
}

@keyframes color-change {
  50% {
    color: #333;
  }
}

/* About Me Section CSS */
.about-me {
  background-color: #333;
  width: 100%;
  height: 100vh;
  padding: 100px 10px 90px;
}

.about-me p {
  color: #fff;
  text-align: center;
  font-size: 21px;
  line-height: 36px;
  padding-top: 40px;
}

/* Projects Section CSS */
.my-projects {
  background-color: #333;
  width: 100%;
  padding: 80px 10px 90px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding-top: 30px;
}

.projImg {
  width: 80vw;
  border-radius: 20px;
}

.text-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5px;
  align-items: center;
}

.custom-1 {
  font-size: 12px;
}

.custom-2 {
  font-size: 10px;
}

.my-projects a {
  text-decoration: none;
  color: #333;
  background-color: #ddd;
  border-radius: 5px;
  padding: 5px 10px;
}

.my-projects a {
  overflow-y: hidden;
}

.my-cv {
  width: 100%;
  background-color: #333;
  padding-top: 20px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
}

.my-cv a {
  color: #fff;
}

/* Footer CSS */
.footer {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

/* ---------------------------RESPONSIVENESS-------------------------- */

/* For Tablet ---------------------------------------- */
@media (min-width: 425px) {
  /* .hero {
    color: red;
  } */

  /* GLOBAL */
  h2 {
    font-size: 50px;
    padding-left: 20px;
    padding-bottom: 40px;
  }

  h3 {
    padding-top: 40px;
    padding-left: 20px;
    font-size: 36px;
  }

  /* Navbar */

  .logo {
    font-size: 40px;
    padding-left: 20px;
  }

  .bar {
    width: 40px;
  }

  .menu-toggle {
    padding-right: 20px;
  }

  a.nav-link {
    font-size: 15px;
  }

  /* HERO */
  .hero {
    font-size: 70px;
    height: 100vh;
    width: 100%;
    padding: 30vh 40px 20vh;
  }

  /* ABOUT ME */
  .about-me {
    height: 50vh;
    padding: 100px 10px 90px;
  }

  .about-me p {
    font-size: 28px;
    line-height: 50px;
    padding: 40px 20px 10px;
  }

  /* PROJECTS */
  .my-projects {
    padding: 80px 10px 90px;
  }

  .card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
  }

  .card {
    padding-top: 40px;
  }

  .projImg {
    width: 40vw;
  }

  .text-wrapper {
    padding-top: 20px;
  }

  .my-projects a {
    border-radius: 5px;
    padding: 5px 10px;
  }
}

/* For Laptop ---------------------------------------- */
@media (min-width: 769px) {
  /* .hero {
    color: blue;
  } */

  /* GLOBAL */
  h2 {
    font-size: 70px;
  }

  h3 {
    font-size: 48px;
  }

  h4 {
    font-size: 28px;
  }

  /* Navbar */

  a.nav-link {
    font-size: 24px;
  }

  /* HERO */
  .hero {
    padding: 35vh 100px 20vh;
  }

  /* ABOUT ME */
  .about-me {
    height: 70vh;
    padding: 100px 100px 90px;
  }

  .about-me p {
    font-size: 36px;
    line-height: 60px;
  }

  /* PROJECTS */
  .my-projects {
    padding: 80px 100px 90px;
  }

  .card-wrapper {
    padding-bottom: 50px;
  }

  .card {
    padding-top: 40px;
  }

  .projImg {
    width: 35vw;
  }

  .text-wrapper {
    padding-top: 20px;
  }

  .my-projects a {
    border-radius: 5px;
    padding: 5px 10px;
  }

  .custom-1 {
    font-size: 16px;
  }

  .custom-2 {
    font-size: 14px;
  }

  /* CV & CERTIFICATIONS */
  .my-cv {
    padding: 200px 0;
  }
  .my-cv a {
    font-size: 28px;
  }

  /* Footer */
  .footer {
    font-size: 28px;
    padding-bottom: 80px;
  }
}

/* For Laptop L -------------------------------------- */
@media (min-width: 1025px) {
  /* .hero {
    color: green;
  } */

  /* GLOBAL */
  h2 {
    font-size: 90px;
  }

  h3 {
    font-size: 64px;
  }

  h4 {
    font-size: 32px;
  }

  /* Navbar */

  .navbar {
    padding-top: 50px;
  }

  .logo {
    font-size: 80px;
    padding-left: 20px;
  }

  a.nav-link {
    font-size: 32px;
  }

  /* HERO */
  .hero {
    padding: 40vh 100px 20vh;
  }

  /* ABOUT ME */
  .about-me {
    height: 100vh;
    padding: 170px 100px 120px;
  }

  .about-me p {
    font-size: 52px;
    line-height: 85px;
  }

  /* PROJECTS */
  .my-projects {
    padding: 170px 100px 90px;
  }

  .my-projects a {
    font-size: 25px;
    border-radius: 10px;
  }

  .custom-1 {
    font-size: 18px;
  }

  /* CV & CERTIFICATIONS */
  .my-cv {
    padding: 200px 0;
  }

  .my-cv a {
    font-size: 36px;
  }

  /* Footer */
  .footer {
    padding-bottom: 80px;
    font-size: 36px;
  }
}
